/*-------- electronic_finish.html --------*/

/*-------- custom -------*/
body {
	padding-bottom: 60px;
}

/* content-top */
.content-top {
	height: 85px;
	padding-top:10px;
}
.div-portrait {
	max-width: 80px;
	padding-right: 10px;
}
.div-basic-info {
	padding-top: 15px;
}
.portrait {
	width: 70px;

}
.name {
	font-size: 17px;
}
.company {
	font-size: 15px;
	padding-right: 5px;
}
.position {
	font-size: 15px;
}
.small-thumb {
	width: 37px;
}
.small-thumb:first-child {
	margin-left: 7px;
}
.qr-thumb {
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 50%;
}

/* content-middle */
.content-middle {
	width: 100%;
}
.contact-item-basic {
	min-height: 53px;
	width: 100%;
	border-bottom: 1px solid #ddd;
	padding-top: 7px;
}
.contact-item-basic:last-child {
	margin-bottom: 26px;
}
.item-tag {
	font-size: 13px;
	color: #107afd;
	margin-bottom: 1px;
}
.item-value {
	font-size: 14px;
	margin-bottom: 3px;
}
.icon-group {
	padding-top: 7px;
}
.icon-button, .icon-button:active, .icon-button:focus, .icon-button:hover {
	color: #107afd;
	font-size: 26px;
	text-decoration: none;

}
.icon-button:first-child {
	margin-left: 15px;
}


.block-btn {
	border-right: 1px solid #ddd;
	height: 100%;
	display: inline-block;
	background-color: #fff;
}
.block-btn a {
	display: block;
	width: 100%;
	height: 100%;
	color: #ccc;
	padding: 10px;
	font-size: 10px;
}

.icon-button2 {
	color: #107afd;
	font-size: 24px;
}

/* modal */
.modal-header {
	background-color: #f1f1f2;
	border-bottom-color: #f1f1f2;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}
.modal-footer {
	text-align: left;
	color: #aaa;
}
/* scarlett */
